<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="welcome-note">
          <h3>Welcome to <span class="big-brand">Movify</span></h3>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card auth-form-container">
          <h5 class="card-header">
            Sign In
          </h5>
          <div class="card-body">
            <form id="form-sign-in">
              <div class="form-group">
                <label for="email" class="required-field">Email address</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="loginRequest.email" required>
              </div>
              <div class="form-group">
                <label for="password" class="required-field">Password</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="loginRequest.password" required>
              </div>
              <button type="button" id="btn-sign-in" (click)="signIn()" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="card-footer text-muted">
            Not a member? <a routerLink="/sign-up">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
